<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Jsp</display-name>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletDemo</servlet-name>
    <servlet-class>servlet.ServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo</servlet-name>
    <url-pattern>/servlet/ServletDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BlueServlet</servlet-name>
    <servlet-class>servlet.BlueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlueServlet</servlet-name>
    <url-pattern>/servlet/BlueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitTest</servlet-name>
    <servlet-class>servlet.InitTest</servlet-class>
    <init-param>
      <param-name>institute</param-name>
      <param-value>新安人才网</param-value>
    </init-param>
    <init-param>
      <param-name>major</param-name>
      <param-value>Java技术</param-value>
    </init-param>
    <init-param>
      <param-name>count</param-name>
      <param-value>100</param-value>
    </init-param>
    <init-param>
      <param-name>from</param-name>
      <param-value>马鞍山</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitTest</servlet-name>
    <url-pattern>/servlet/InitTest</url-pattern>
  </servlet-mapping>
</web-app>